# COUNTRY: Country code of the country where the server is located
COUNTRY=US

# STATE: Code of the state where the server is located
STATE=NC

# CITY: City of where the server is located
CITY=Chapel Hill

# ORGANIZATION: Organization name
ORGANIZATION=NELDRIDGE

# CA_OU: Organizational Unit for CA
CA_OU=Home IoT

# CA_CN: Common Name for CA
CA_CN=neldridge.net

# SERVER_OU: Organizational Unit for Server
SERVER_OU=Home IoT

# CLIENT_OU: Organizational Unit for Client
CLIENT_OU=Home IoT
